# Algoritmo Apriori

In [12]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [13]:
import pandas as pd
from apyori import apriori

## Base Mercado 1

In [14]:
mercado1 = pd.read_csv("mercado.csv", header= None)
mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [15]:
transacoes = []
for i in range(len(mercado1)):
  transacoes.append([str(mercado1.values[i, j]) for j in range(mercado1.shape[1])])
transacoes

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [16]:
type(transacoes)

list

In [17]:
regras = apriori(transacoes,
                 min_support = 0.3,
                 min_confidence = 0.8,
                 min_lift = 2)
resultados = list(regras)
resultados

[RelationRecord(items=frozenset({'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'pao', 'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [18]:
resultados[2]

RelationRecord(items=frozenset({'pao', 'manteiga', 'cafe'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao', 'manteiga'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

RelationRecord(items=frozenset({'manteiga', 'cafe', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

In [19]:
A, B = [], []
suporte, confianca, lift = [], [], []

for resultado in resultados:
  s = resultado[1]

  result_rules = resultado[2]

  for result_rule in result_rules:

    A.append(list(result_rule[0]))
    B.append(list(result_rule[1]))
    suporte.append(s)
    confianca.append(result_rule[2])
    lift.append(result_rule[3])

In [20]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'suporte': suporte, 'confianca': confianca, 'lift': lift})
rules_df.sort_values(by = 'lift', ascending = False)

                  A                B  suporte  confianca  lift
2            [cafe]  [pao, manteiga]      0.3        1.0   2.5
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
3  [manteiga, cafe]            [pao]      0.3        1.0   2.0
4       [pao, cafe]       [manteiga]      0.3        1.0   2.0

## Base Mercado 2

In [21]:
mercado2 = pd.read_csv("mercado2.csv", header= None)
mercado2.head()

              0          1           2   ...               17       18         19
0         shrimp    almonds     avocado  ...  frozen smoothie  spinach  olive oil
1        burgers  meatballs        eggs  ...              NaN      NaN        NaN
2        chutney        NaN         NaN  ...              NaN      NaN        NaN
3         turkey    avocado         NaN  ...              NaN      NaN        NaN
4  mineral water       milk  energy bar  ...              NaN      NaN        NaN

[5 rows x 20 columns]

In [22]:
transacoes2 = []

for i in range(mercado2.shape[0]):

  transacoes2.append([str(mercado2.values[i, j]) for j in range(mercado2.shape[1])])

Produtos vendidos 4 vezes por dia

In [24]:
(4 * 7) / 7501

0.0037328356219170776

In [26]:
regras2 = apriori(transacoes2,
                  min_support = 0.003,
                  min_confidence = 0.2,
                  min_lift = 3)
resultados = list(regras2)
len(resultados)

160

In [27]:
A, B = [], []
suporte, confianca, lift = [], [], []

for resultado in resultados:
  s = resultado[1]

  result_rules = resultado[2]

  for result_rule in result_rules:

    A.append(list(result_rule[0]))
    B.append(list(result_rule[1]))
    suporte.append(s)
    confianca.append(result_rule[2])
    lift.append(result_rule[3])

In [28]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'suporte': suporte, 'confianca': confianca, 'lift': lift})
rules_df.sort_values(by = 'lift', ascending = False)

                                                     A  ...      lift
344                          [soup, frozen vegetables]  ...  7.987176
177                          [soup, frozen vegetables]  ...  7.987176
349                     [soup, frozen vegetables, nan]  ...  7.987176
173                     [olive oil, frozen vegetables]  ...  6.128268
339                [olive oil, frozen vegetables, nan]  ...  6.128268
..                                                 ...  ...       ...
238                         [ground beef, shrimp, nan]  ...  3.005315
67                               [ground beef, shrimp]  ...  3.005315
198       [frozen vegetables, mineral water, tomatoes]  ...  3.002280
368  [frozen vegetables, mineral water, nan, tomatoes]  ...  3.002280
365       [frozen vegetables, mineral water, tomatoes]  ...  3.002280

[390 rows x 5 columns]

# ECLAT

In [30]:
!pip install pyECLAT

Collecting pyECLAT
  Downloading pyECLAT-1.0.2-py3-none-any.whl (6.3 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.1.5)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (1.19.5)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.7/dist-packages (from pyECLAT) (4.62.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.15.0)
Installing collected packages: pyECLAT
Successfully installed pyECLAT-1.0.2

In [31]:
mercad1_eclat = pd.read_csv('mercado.csv', header= None)

In [32]:
from pyECLAT import ECLAT
eclat = ECLAT(data = mercad1_eclat)

In [33]:
eclat.df_bin

   pao  cafe  leite  arroz  feijao  manteiga  cerveja
0    1     0      1      0       0         1        1
1    1     1      0      0       0         1        0
2    1     1      0      0       0         1        0
3    1     1      1      0       0         1        0
4    0     0      0      0       0         0        1
5    0     0      0      0       0         1        0
6    1     0      0      0       0         0        0
7    0     0      0      0       1         0        0
8    0     0      0      1       1         0        0
9    0     0      0      1       0         0        0

In [34]:
eclat.uniq_

['pao', nan, 'cafe', 'leite', 'arroz', 'feijao', 'manteiga', 'cerveja']

In [39]:
indices, suporte = eclat.fit(min_support = 0.3,
                             min_combination = 1,
                             max_combination = 3)

Combination 1 by 1

3it [00:00, 95.51it/s]

Combination 2 by 2

3it [00:00, 89.42it/s]

Combination 3 by 3

1it [00:00, 70.18it/s]

In [40]:
indices

{'cafe': [1, 2, 3],
 'cafe & manteiga': [1, 2, 3],
 'manteiga': [0, 1, 2, 3, 5],
 'pao': [0, 1, 2, 3, 6],
 'pao & cafe': [1, 2, 3],
 'pao & cafe & manteiga': [1, 2, 3],
 'pao & manteiga': [0, 1, 2, 3]}

In [41]:
suporte

{'cafe': 0.3,
 'cafe & manteiga': 0.3,
 'manteiga': 0.5,
 'pao': 0.5,
 'pao & cafe': 0.3,
 'pao & cafe & manteiga': 0.3,
 'pao & manteiga': 0.4}